.list-item {
  color: goldenrod;
  border-radius: 6px;
}

.list-background {
  background-color: black;
  border-radius: 6px;
}

.list-header {
  color: antiquewhite;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  background-color: darkslategrey;
  border-radius: 6px;
  text-align: center;
}
