<ion-header>
  <ion-toolbar>
    <ion-title>Profile for: {{ user | async }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  routerLink="/userlist" routerLinkActive="router-link-active"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
