<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Daily Expenses
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <p *ngIf="submitAttempt && !expensesForm.valid" style="color: #ea6153;">Please fill out all details accurately.</p>

        <ion-list no-lines>

          <form [formGroup]="expensesForm" novalidate>

            <ion-item>
              <ion-label position="floating">
                Expense Category
              </ion-label>
              <ion-select #category formControlName="category">
                <ion-select-option value="FUEL">FUEL</ion-select-option>
                <ion-select-option value="EQUIPMENT/MAINTENANCE">EQUIPMENT/MAINTENANCE</ion-select-option>
                <ion-select-option value="FEEDING/REFRESHMENTS">FEEDING/REFRESHMENTS</ion-select-option>
                <ion-select-option value="MISCELLANEOUS">MISCELLANEOUS</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="danger" *ngIf="!expensesForm.controls.category.valid &&
                  (expensesForm.controls.category.touched || submitAttempt)">
              <p>Category is needed.</p>
            </ion-item>


            <ion-item>
              <ion-label position="floating">
                Expense Details
              </ion-label>
              <!-- <ion-input #expenseDetails formControlName="expenseDetails" type="text" 
              [class.invalid]="!expensesForm.controls.expenseDetails.valid &&
                            (expensesForm.controls.expenseDetails.dirty || submitAttempt) "></ion-input>
 -->
              <ion-textarea #expenseDetails formControlName="expenseDetails" spellcheck="true" wrap="soft"
                [class.invalid]="!expensesForm.controls.expenseDetails.valid &&
                            (expensesForm.controls.expenseDetails.dirty || submitAttempt) "
                autocapitalize="true">

              </ion-textarea>

            </ion-item>

            <ion-item class="danger" *ngIf="!expensesForm.controls.expenseDetails.valid &&
                      (expensesForm.controls.expenseDetails.dirty || submitAttempt)">
              <p>Expense details are needed.</p>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Amount
              </ion-label>
              <ion-input #amount formControlName="amount" type="number" [class.invalid]="!expensesForm.controls.amount.valid &&
                            (expensesForm.controls.amount.dirty || submitAttempt) "></ion-input>
            </ion-item>

            <ion-item class="danger" *ngIf="!expensesForm.controls.amount.valid &&
                      (expensesForm.controls.amount.dirty || submitAttempt)">
              <p>Amount is needed.</p>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Approved By
              </ion-label>
              <ion-input #approvedBy formControlName="approvedBy" type="text" [class.invalid]="!expensesForm.controls.approvedBy.valid &&
                          (expensesForm.controls.approvedBy.dirty || submitAttempt) ">
              </ion-input>
            </ion-item>

            <ion-item class="danger" *ngIf="!expensesForm.controls.approvedBy.valid &&
                        (expensesForm.controls.approvedBy.dirty || submitAttempt)">
              <p>Approval is needed.</p>
            </ion-item>

          </form>
          <div padding>
            <p>Value: {{ expensesForm.value | json }}</p>
            <p>Validation status: {{ expensesForm.status }}</p>
          </div>
          <div padding>
            <ion-buttons>
              <ion-button shape="round" fill="outline" color="default" (click)="save()" [disabled]="!expensesForm.valid">Add
                Expense
              </ion-button>
              <ion-button shape="round" fill="outline" color="secondary" slot="right" (click)="clearEntries()">Cancel</ion-button>
            </ion-buttons>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>