<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Registered Users</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/user" routerLinkActive="router-link-active">
        <ion-icon slot="icon-only" name="person-add"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="12" size-lg="6" size-xs="12">
        <ion-list class="list-background" no-margin>
          <ion-item detail="true" no-margin *ngFor="let s of users | async" routerLink="/userprofile/{{s.id}}">
            <div class="list-item"> {{s.sname}}, {{s.fname.toUpperCase()}} {{s.onames.toUpperCase()}}<br />
              Username: {{ s.username }}
            </div>
            <div class="list-item" slot="end">
              <ion-note>
                Click, for profile
              </ion-note>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>