<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Sales Report
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-grid no-padding>
    <ion-row justify-content-center>
      <ion-col size-md="10" size-lg="8" size-xs="12">

        <div>
          <form>
            <ion-list class="list-background" no-margin no-lines>
              <ion-list-header class="list-item">
                <h2>Sales Report</h2>
              </ion-list-header>
              <ion-item>
                <ion-label>Report Date</ion-label>
                <ion-datetime display-format="DD MMM, YYYY" min="2018" max="2025-12-31" picker-format="DD MMM, YYYY"  min="2018" max="2025-12-31" 
                  [(ngModel)]="rptDate" name="rptDate"></ion-datetime>
              </ion-item>
            </ion-list>
            <div padding>
              <ion-buttons>
                <ion-button shape="round" fill="outline" color="default" (click)="printReport()">Print
                  Sales Report
                </ion-button>
              </ion-buttons>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="12" size-lg="12" size-xs="12">
        <div id="print-area" style="overflow-x:auto;" width="100%">

          <h1> Daily Sale Report</h1>
          <h2 class="subtitle">On {{ rptDate }}</h2>

          <table id="data-table" width="100%">
            <thead>
              <tr>
                <td>FORM NO.</td>
                <td>DATE</td>
                <td>SOLD TO</td>
                <!-- <td>PHONE</td> -->
                <td>GROUP</td>
                <td>JAMB AMT.</td>
                <td>SVC CHRGE</td>
                <td>AMOUNT</td>
                <!-- <td></td> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of jsonRows">
                <td>{{ r.formNo }}</td>
                <td>{{ r.receiptDate }}</td>
                <td>{{ r.sname }}, {{ r.fname }} {{ r.onames }}</td>
                <!-- <td>{{ r.phoneNo }}</td> -->
                <td>{{ r.group }}</td>
                <td>{{ r.jamb }}</td>
                <td>{{ r.svc_charge }}</td>
                <td>{{ r.amount }}</td>
              </tr>
            </tbody>
          </table>
          <div title="TOTALS">
            <h2>TOTALS</h2>
            <h3>Total for JAMB: {{ totJamb | number:'4.2-2'}}</h3>
            <h3>Total Service Charge: {{ totSvcCharge | number:'4.2-2'}}</h3>
            <h3>Total for Day: {{ totAmt | number:'4.2-2'}}</h3>
            <!-- <h3>Number forms - JAMB (N6,200) : {{ numJamb }}</h3>
            <h3>Number all forms : {{ numForms }}</h3> -->
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>