<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      User Registration
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <p *ngIf="submitAttempt && !userForm.valid" style="color: #ea6153;">Please fill out all details accurately.</p>

        <ion-list no-lines>

          <form [formGroup]="userForm" novalidate>
            <ion-item>
              <ion-label position="floating">
                Username
              </ion-label>
              <ion-input #username formControlName="username" type="text" [class.invalid]="!userForm.controls.username.valid &&
                            (userForm.controls.username.dirty || submitAttempt) "></ion-input>
            </ion-item>

            <ion-item class="danger" *ngIf="!userForm.controls.username.valid &&
                      (userForm.controls.username.dirty || submitAttempt)">
              <p>Username is needed.</p>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input #email formControlName="email" type="email"
               [class.invalid]="!userForm.controls.email.valid &&
               (userForm.controls.email.dirty || submitAttempt) "></ion-input>
            </ion-item>
            <ion-item class="error-message " *ngIf="!userForm.controls.email.valid &&
             (userForm.controls.email.dirty || submitAttempt)">
              <p>Please enter a valid email.</p>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Password
              </ion-label>
              <ion-input #password formControlName="password" type="password" 
              [class.invalid]="!userForm.controls.password.valid &&
                            (userForm.controls.password.dirty || submitAttempt) "></ion-input>
            </ion-item>

            <ion-item class="danger" *ngIf="!userForm.controls.password.valid &&
                      (userForm.controls.password.dirty || submitAttempt)">
              <p>Password is needed, at least 6 characters long.</p>
            </ion-item>


            <ion-item>
              <ion-label position="floating">
                Repeat Password
              </ion-label>
              <ion-input #repeat_password formControlName="repeat_password" type="password" 
              [class.invalid]="!userForm.controls.repeat_password.valid &&
                            (userForm.controls.repeat_password.dirty || submitAttempt) "></ion-input>
            </ion-item>

            <ion-item class="danger" *ngIf="!passwordsMatch &&
                      (userForm.controls.repeat_password.dirty || submitAttempt)">
              <p>Passwords do not match!.</p>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Surname
              </ion-label>
              <ion-input #sname formControlName="sname" type="text" [class.invalid]="!userForm.controls.sname.valid &&
                            (userForm.controls.sname.dirty || submitAttempt) "></ion-input>
            </ion-item>

            <ion-item class="danger" *ngIf="!userForm.controls.sname.valid &&
                      (userForm.controls.sname.dirty || submitAttempt)">
              <p>Your surname is needed.</p>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                First Name
              </ion-label>
              <ion-input #fname formControlName="fname" type="text" [class.invalid]="!userForm.controls.fname.valid &&
                          (userForm.controls.fname.dirty || submitAttempt) ">
              </ion-input>
            </ion-item>

            <ion-item class="danger" *ngIf="!userForm.controls.fname.valid &&
                        (userForm.controls.fname.dirty || submitAttempt)">
              <p>Your first name is needed.</p>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Other Names
              </ion-label>
              <ion-input #onames formControlName="onames" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Phone No
              </ion-label>
              <ion-input #phoneNo formControlName="phoneNo" type="tel"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Add Roles</ion-label>
              <ion-select #roles formControlName="roles" multiple="true" cancelText="Cancel" okText="OK!">
                <ion-select-option value="user">Users</ion-select-option>
                <ion-select-option value="accounts">Accounts</ion-select-option>
                <ion-select-option value="management">Managers</ion-select-option>
                <ion-select-option value="admin">System Admin</ion-select-option>
                <ion-select-option value="ceo">CEO</ion-select-option>
              </ion-select>
            </ion-item>



            <ion-item class="danger" *ngIf="!userForm.controls.roles.valid &&
                    (userForm.controls.roles.dirty || submitAttempt)">
              <p>Role(s) must be selected.</p>
            </ion-item>

          </form>
          <div padding>
            <ion-buttons>
              <ion-button shape="round" fill="outline" color="default" (click)="register()" [disabled]="!userForm.valid">Register
                User
              </ion-button>
              <ion-button shape="round" fill="outline" color="secondary" slot="right" (click)="clearEntries()">Cancel</ion-button>
            </ion-buttons>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
