<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4>Login Form</h4>
        </div>
        <form [formGroup]="loginForm" novalidate>
          <div padding>
            <ion-list>
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input #username formControlName="username" type="username" [class.invalid]="!loginForm.controls.username.valid &&
                  (loginForm.controls.username.dirty || submitAttempt) "></ion-input>
              </ion-item>

              <ion-item color="danger" *ngIf="!loginForm.controls.username.valid &&
              (loginForm.controls.username.dirty || submitAttempt)">
                <p>Please enter a valid username.</p>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input #password formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid &&
                  (loginForm.controls.password.dirty || submitAttempt) "></ion-input>
              </ion-item>

              <ion-item color="danger" *ngIf="!loginForm.controls.password.valid &&
              (loginForm.controls.password.dirty || submitAttempt)">
                <p>Your password needs more than 6 characters.</p>
              </ion-item>

            </ion-list>
          </div>

          <div padding>
            <ion-button color="primary" expand="block" (click)="loginUser()" [disabled]="!loginForm.valid">Login with
              Username</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>