app-login {
  background-color: rgba(27, 238, 238, 0.986);
}

$white-color: #fff;
$height100: 100%;

form {
  background: beige;
}

ion-grid {
  width: 100%;
  height: $height100;
  background: #041c46;
}

ion-row {
  height: $height100;
}

ion-col {
  border: 1px solid #488aff;
  background: $white-color;
}

ion-button {
  font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
  ion-grid {
    background: $white-color;
  }

  ion-col {
    border: none;
  }
}
