<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Sell Form
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-grid no-padding>
    <ion-row justify-content-center>
      <ion-col size-md="10" size-lg="8" size-xs="12">

        <div>
          <form>
            <ion-list class="list-background" no-margin no-lines>
              <ion-list-header class="list-item">
                <h2>Sell Form</h2>
              </ion-list-header>

              <ion-item class="list-item">
                <ion-label position="floating">Select Client Group</ion-label>
                <ion-select name="group" [(ngModel)]="group" required>
                  <ion-select-option *ngFor="let item of groups " [value]="item">{{item}}</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item class="list-item">
                <ion-label position="floating">Select Price For Group</ion-label>
                <ion-select name="price" [(ngModel)]="price" required>
                  <ion-select-option *ngFor="let grp_p of price_grps " [value]="grp_p.formAmount">
                    (N{{grp_p.formAmount}}) {{grp_p.groupname}},
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item class="list-item">
                <ion-label position="floating">Form Number</ion-label>
                <ion-input name="formNo" [(ngModel)]="formNo" required></ion-input>
              </ion-item>

              <ion-item class="list-item">
                <div>
                  <ion-searchbar color="dark" name="searchQuery" autocomplete="on" animated placeholder="find by phone no."
                    [(ngModel)]="searchQuery" [showCancelButton]="true" (ionInput)="getItems($event)">
                  </ion-searchbar>
                </div>
              </ion-item>

            </ion-list>
            <ion-list class="phone-list-background" no-margin>

              <ion-item class="phone-list-item" *ngFor="let item of phoneNos" (click)="accept(item)">
                <div title="Click on phone no. !!!ONCE ONLY!!!">
                  <h2>{{item}}</h2>
                </div>
                <div class="list-item" slot="end">
                  <ion-note>
                    Click, to save data
                  </ion-note>
                </div>
              </ion-item>
            </ion-list>
          </form>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>