app-login {
  background-color: rgba(27, 238, 238, 0.986);
}

.invalid {
  border-bottom: 1px solid #FF6153;
}

ion-select {
  min-width: 100% !important;
}

.list-item {
  color:black;
  border-radius: 5%;
}

.list-background {
  background-color:burlywood;
}


.phone-list-background {
  background-color: midnightblue;
}

.phone-list-item {
  color: azure;
  border-radius: 5%;
}


$white-color: #fff;
$height100: 100%;

ion-grid {
  width: 100%;
  height: $height100;
  background: rgba(22, 110, 192, 1);
  background: -moz-linear-gradient(left, rgba(22, 110, 192, 1) 0%, rgba(19, 87, 164, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(22, 110, 192, 1)), color-stop(100%, rgba(19, 87, 164, 1)));
  background: -webkit-linear-gradient(left, rgba(22, 110, 192, 1) 0%, rgba(19, 87, 164, 1) 100%);
  background: -o-linear-gradient(left, rgba(22, 110, 192, 1) 0%, rgba(19, 87, 164, 1) 100%);
  background: -ms-linear-gradient(left, rgba(22, 110, 192, 1) 0%, rgba(19, 87, 164, 1) 100%);
  background: linear-gradient(to right, rgba(22, 110, 192, 1) 0%, rgba(19, 87, 164, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#166ec0', endColorstr='#1357a4', GradientType=1);
}

ion-row {
  height: $height100;
}

ion-col {
  border: 1px solid #488aff;
  background: $white-color;
}

ion-button {
  font-weight: 300;
}

form {
  background-color: burlywood;
}

@media (min-width: 240px) and (max-width: 768px) {
  ion-grid {
    background: $white-color;
  }

  ion-col {
    border: none;
  }
}

.list-header {
  color: gold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  font-style: italic;
}



