<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      New Queue Numbers
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <p *ngIf="submitAttempt && !numgenForm.valid" style="color: #ea6153;">Please fill out all details accurately.</p>

        <ion-list no-lines>

          <form [formGroup]="numgenForm" novalidate>

            <ion-list>

              <ion-list-header class="list-header">
                <ion-label>Generate Queue Numbers</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label position="floating">
                  Starting Number
                </ion-label>
                <ion-input #fromNo formControlName="fromNo" type="number" [class.invalid]="!numgenForm.controls.fromNo.valid &&
                            (numgenForm.controls.fromNo.dirty || submitAttempt) "></ion-input>
              </ion-item>

              <ion-item class="danger" *ngIf="!numgenForm.controls.fromNo.valid &&
                      (numgenForm.controls.fromNo.dirty || submitAttempt)">
                <p>Starting number is needed.</p>
              </ion-item>

              <ion-item>
                <ion-label position="floating">
                  Ending Number
                </ion-label>
                <ion-input #toNo formControlName="toNo" type="number" [class.invalid]="!numgenForm.controls.toNo.valid &&
                              (numgenForm.controls.toNo.dirty || submitAttempt) "></ion-input>
              </ion-item>

              <ion-item class="danger" *ngIf="!numgenForm.controls.toNo.valid &&
                        (numgenForm.controls.toNo.dirty || submitAttempt)">
                <p>Starting number is needed.</p>
              </ion-item>

            </ion-list>
          </form>
          <div padding>
            <ion-buttons>
              <ion-button shape="round" fill="outline" color="default" (click)="generateNumbers()" [disabled]="!numgenForm.valid">Generate
                Numbers
              </ion-button>
              <ion-button shape="round" fill="outline" color="secondary" slot="right" (click)="clearEntries()">Cancel</ion-button>
            </ion-buttons>
          </div>
        </ion-list>
        <ion-list class="list-background" no-margin>
          <ion-item detail="true" no-margin *ngFor="let item of queueNos | async">
            <div class="list-item">
              {{item.queno}}
            </div>
            <!-- <div class="item-note" slot="end">
                {{item.note}}
              </div> -->
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>