<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Sales List</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/user" routerLinkActive="router-link-active">
        <ion-icon slot="icon-only" name="person-add"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="8" size-lg="6" size-xs="12">
        <ion-list class="list-background" no-margin>
          <ion-item detail="true" no-margin *ngFor="let item of rcpts | async">
            <ion-card>
              <ion-card-header>
                <ion-card-title class="list-item">Form No: {{item.formNo}}</ion-card-title>
                <ion-card-subtitle class="list-item">Sold to: {{ item.sname }}, {{ item.fname }} {{ item.onames }}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content class="list-item">
                <p> Date: {{item.receiptDate | date }} <br /> JAMB Amount: {{item.jamb | number:'4.2-2'}} <br />
                  Service Charge: {{item.svc_charge | number:'3.2-2'}} <br /> Total Amount: {{item.amount |
                  number:'4.2-2'}}</p>
                <small>
                  <p>Sold by: {{ item.loggedInUser }}</p>
                </small>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>