.list-item {
  color: goldenrod;
  border-radius: 5%;
}

.list-background {
  background-color: black;
}

.list-header {
  color: gold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  font-style: italic;
}
