<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Add Candidate
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <p *ngIf="submitAttempt && !personForm.valid" style="color: #ea6153;">Please fill out all details accurately.</p>

        <ion-list no-lines>

          <form [formGroup]="personForm" novalidate>

            <ion-item>
              <ion-label position="floating">
                Surname
              </ion-label>
              <ion-input #sname formControlName="sname" type="text" 
              (input)="renderCase(sname)"
              [class.invalid]="!personForm.controls.sname.valid &&
                            (personForm.controls.sname.touched || submitAttempt) "></ion-input>
            </ion-item>

            <ion-item class="danger" *ngIf="!personForm.controls.sname.valid &&
                      (personForm.controls.sname.touched || submitAttempt)">
              <p>Your surname is needed.</p>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                First Name
              </ion-label>
              <ion-input #fname formControlName="fname" type="text" 
              (input)="toTitleCase(fname)"
              [class.invalid]="!personForm.controls.fname.valid &&
                          (personForm.controls.fname.touched || submitAttempt) ">
              </ion-input>
            </ion-item>

            <ion-item class="danger" *ngIf="!personForm.controls.fname.valid &&
                        (personForm.controls.fname.touched || submitAttempt)">
              <p>Your first name is needed.</p>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Other Names
              </ion-label>
              <ion-input #onames formControlName="onames" type="text" 
              (input)="toTitleCase(onames)" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Phone No
              </ion-label>
              <ion-input #phoneNo formControlName="phoneNo" type="text"></ion-input>
            </ion-item>
          </form> 
          
          <div padding>
            <p>Value: {{ personForm.value | json }}</p>
            <p>Validation status: {{ personForm.status }}</p>
          </div>
          <div padding>
            <ion-buttons>
              <ion-button shape="round" fill="outline" color="default" (click)="register()" [disabled]="!personForm.valid">Add
                Candidate
              </ion-button>
              <ion-button shape="round" fill="outline" color="secondary" slot="right" (click)="clearEntries()">Cancel</ion-button>
            </ion-buttons>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>