<ion-app>
  <ion-split-pane when="sm">
    <ion-menu side="start" swipe-gesture="true" type="reveal">
      <ion-header translucent>
        <div class="header-background-image">
          <ion-toolbar color="dark">
            <ion-buttons slot="secondary">
              <ion-menu-toggle auto-hide="false">
                <ion-button>
                  <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
              </ion-menu-toggle>
            </ion-buttons>
            <ion-title item-title main-menu>Menu</ion-title>
          </ion-toolbar>
        </div>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>
</ion-app>