<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Expenses Report
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-grid no-padding>
    <ion-row justify-content-center>
      <ion-col size-md="10" size-lg="8" size-xs="12">

        <div>
          <form>
            <ion-list class="list-background" no-margin no-lines>
              <ion-list-header class="list-item">
                <h2>Expenses Report</h2>
              </ion-list-header>
              <ion-item>
                <ion-label>Expenses Date</ion-label>
                <ion-datetime display-format="DD MMM, YYYY" min="2018" max="2025-12-31" picker-format="DD MMM, YYYY"  min="2018" max="2025-12-31" 
                  [(ngModel)]="expDate" name="expDate"></ion-datetime>
              </ion-item>
            </ion-list>
            <div padding>
              <ion-buttons>
                <ion-button shape="round" fill="outline" color="default" (click)="printReport()">Print
                  Expenses Report
                </ion-button>
              </ion-buttons>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-md="12" size-lg="12" size-xs="12">
        <div id="print-area" style="overflow-x:auto;" width="100%">

          <h1> Daily Expenses Report</h1>
          <h2 class="subtitle">On {{ expDate }}</h2>

          <table id="data-table" width="100%">
            <thead>
              <tr>
                <td>DATE</td>
                <td>CATEGORY</td>
                <td>DETAILS</td>
                <td>AMOUNT</td>
                <td>ENTERED BY</td>
                <td>AUTHORIZED BY</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of jsonRows">
                <td>{{ r.expenseDate }}</td>
                <td>{{ r.category }}</td>
                <td>{{ r.expenseDetails }}</td>
                <td>{{ r.amount }}</td>
                <td>{{ r.loggedInUser }}</td>
                <td>{{ r.approvedBy }}</td>
              </tr>
            </tbody>
          </table>
          <div title="TOTALS">
            <h2>TOTALS</h2>
            <h3>Total for Day: {{ totAmt | number:'4.2-2'}}</h3> 
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
