<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Print Number</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="12" size-lg="6" size-xs="12">
        <ion-list class="list-background" no-margin>
          <ion-list-header class="list-header">
            <ion-label>Click To Print Queue Number<br/>... Then Refresh Page</ion-label>
          </ion-list-header>

          <ion-item detail="true" no-margin *ngFor="let item of queueNos | async" (click)="printNext(item)">
            <div class="list-item"> {{ item.queno }}
            </div>
            <div class="list-item" slot="end">
              <ion-note>
                Click, to print next number ...
              </ion-note>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>