<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Add Biz Group
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-grid no-padding>
    <ion-row justify-content-center>
      <ion-col size-md="10" size-lg="8" size-xs="12">
        <p *ngIf="submitAttempt && !groupForm.valid" style="color: #ea6153;">Please fill out all details accurately.</p>

        <ion-list no-lines>
          <form [formGroup]="groupForm" novalidate>
            

              <ion-item>
                <ion-label position="floating">
                  Group Name
                </ion-label>
                <ion-input #groupname formControlName="groupname" type="text" [class.invalid]="!groupForm.controls.groupname.valid &&
                      (groupForm.controls.groupname.touched || submitAttempt) "></ion-input>
              </ion-item>

              <ion-item class="danger" *ngIf="!groupForm.controls.groupname.valid &&
                (groupForm.controls.groupname.touched || submitAttempt)">
                <p>Group name is needed.</p>
              </ion-item>

              <ion-item>
                <ion-label position="floating">
                  Total Price
                </ion-label>
                <ion-input #formAmount formControlName="formAmount" type="number" [class.invalid]="!groupForm.controls.formAmount.valid &&
                      (groupForm.controls.formAmount.touched || submitAttempt) "></ion-input>
              </ion-item>

              <ion-item class="danger" *ngIf="!groupForm.controls.formAmount.valid &&
                (groupForm.controls.formAmount.touched || submitAttempt)">
                <p>Total price is needed.</p>
              </ion-item>

              <ion-item>
                <ion-label position="floating">
                  Service Charge
                </ion-label>
                <ion-input #serviceCharge formControlName="serviceCharge" type="number" [class.invalid]="!groupForm.controls.serviceCharge.valid &&
                      (groupForm.controls.serviceCharge.touched || submitAttempt) "></ion-input>
              </ion-item>

              <ion-item class="danger" *ngIf="!groupForm.controls.serviceCharge.valid &&
                (groupForm.controls.serviceCharge.touched || submitAttempt)">
                <p>Total price is needed.</p>
              </ion-item>

              <div padding>
                <p>Value: {{ groupForm.value | json }}</p>
                <p>Validation status: {{ groupForm.status }}</p>
              </div>
              <div padding>
                <ion-buttons>
                  <ion-button shape="round" fill="outline" color="default" (click)="save()" [disabled]="!groupForm.valid">Add
                    Group
                  </ion-button>
                  <ion-button shape="round" fill="outline" color="secondary" slot="right" (click)="clearEntries()">Cancel</ion-button>
                </ion-buttons>
              </div>

            <ion-list class="phone-list-background" no-margin>

              <ion-item class="phone-list-item" *ngFor="let item of groups | async">
                <div>
                  <small>
                    <p>{{item.groupname}} Total: {{item.formAmount}}, Service Charge: {{item.serviceCharge}} </p>
                  </small>
                </div>
              </ion-item>
            </ion-list>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>