<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="end">
      <ion-button item-title *ngIf="!loggedIn" routerLink="/login">
        <ion-icon slot="icon-only" name="log-in"></ion-icon>Login
      </ion-button>
      <ion-button *ngIf="loggedIn">
        <ion-text item-title>{{ currentUser }}</ion-text>
      </ion-button>
      <ion-button *ngIf="loggedIn" (click)="logout()">
        <ion-text item-title>Log out</ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title item-title>
      Home
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid class="gradient-background">
    <ion-row>
      <ion-col>
        
          <span class="center-heading">
            <h1>Swintec Registration Manager</h1>
          </span>
          <hr>
          <div class="ionic-descript" text-center>
            <h2 item-title>MANAGE QUEUES, SELL FORMS</h2>
            <h2 item-title>THE SIMPLE WAY</h2>
            <p item-subtitle>and as fast as possible!</p>
            <h3 item-subtitle>Welcome,<br/>{{ currentUser }}</h3> 
          </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>